:root {
  --primary: #1888ff;
}

.btn-css {
  font-size: 18px;
  padding: 8px 20px;
  border-radius: 4px;
  background-color: var(--primary);
  margin-bottom: 25px;
}

.btn-css:hover {
  padding: 6px 18px;
  transition: all 0.3s ease-out;
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}
