* {
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(40, 46, 48);
  color: #fff;
  min-height: 10vh;
  margin: 0;
}

.nav-link {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
